@font-face {
    font-family: 'Elixia';
    src: url(./fonts/ELIXIA.ttf);
}

*,
*::before,
*::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Elixia', sans-serif;
}

html{
    font-size: 62.5%;
    background-color: #CEF7C2;
}

header{
    background-color: #CBEFB6;
    text-align: center;
    padding: 1.5rem;
    font-size: 2.5rem;
    color: #FF4A47;
}



